<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635348074452-4mbuok65rg80i7scbtqad54nnrs57363.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635348074452-4mbuok65rg80i7scbtqad54nnrs57363</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mJK58nFKcpVwAPQri5yq0Y5lot3cjHU</string>
	<key>GCM_SENDER_ID</key>
	<string>635348074452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petercircuitsoft.studyFlutter</string>
	<key>PROJECT_ID</key>
	<string>study-flutter-b6169</string>
	<key>STORAGE_BUCKET</key>
	<string>study-flutter-b6169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635348074452:ios:d04159c5e6bb612bc36041</string>
</dict>
</plist>